<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<app-navbar [stages]="data.stages" [currentStageId]="currentStageId" (changeStageId)="onChangeStageId($event)"></app-navbar>

<div id="steps" *ngFor="let stage of data.stages">
  <div *ngIf="stage.id == currentStageId">
    <div id="step{{step.id}}" class="step" *ngFor="let step of stage.steps; let last = last;">
      <div class="stepDetails">
        <app-label [step]="step"></app-label>
        <div class="descriptionContainer">
          <p class="description" [innerHTML]="decodeMarkdown(step.description)"></p>
        </div>
      </div>
        <app-flow *ngIf="!last"></app-flow>
    </div>
  </div>
</div>